$primary : #1467be;
$white : #fff;


.btn{
    border-radius:6px;
    white-space: nowrap;
    padding:5px 20px;
    border:none;
    font-weight: 600;
    outline: none;
    font-size:14px;
    cursor: pointer;
}

.btn--primary{
    background-color: $primary;
    color: $white
}

.blue{
    background-color: #1467be;
    color:$white;
    border:none;
}

.red{
    background-color: #E36B6D;
    color:$white;
    border:none;
    height:40px;
}
.light-blue{
    background-color:#EFEEFF;
    color:#384AE4;
    border:none;
}