.pricing_section{
    .pricing_wrapper{
        .pricing-card{
            h3{
                color:#0F1A78;
                font-weight: 600;
                font-size:18px;
            }
            p{
                font-size:13px;
                margin: 20px 0;;
            }
            h1{
                font-size:20px;
                font-weight: 700;
                color:#0F1A78;
                margin-bottom: 20px;;
            }
        }
    }
}